# Dependencies
node_modules/
venv/
.venv/

# Environment variables (Critical for security)
.env

# System files
.DS_Store
Thumbs.db

# Build outputs
/dist
/build
/video-gen
/assets/audio_clips
/assets/final
/assets/temp
/assets/video_clips
/assets/ai_images
/modules/__pycache__
/assets/avatar/avatar.mp4
/assets/avatar/Gemini_Generated_Image_ww2ko4ww2ko4ww2k.png
*.log

# Project specific
/output
used_topics.txt
__pycache__/
*.pyc

# YouTube Authentication Secrets
client_secrets.json
token.pickle